* {
    font-size: 16px;
}

input {
    border: lightblue 3px solid;
    border-radius: 4px;
    padding: 6px 8px;
}
  
.send-btn {
    background-color: lightblue;
    border: none;
    width: 110px;
    height: 34px;
    opacity: 0.9;
    cursor: pointer;
}

.container {
    margin-bottom: 10px;
    display: none;
    justify-content: center;
    gap: 10px;
}
  
.chatbox {
    border: lightblue solid 3px;
    border-radius: 4px;
    height: 100vw;
    margin-top: 10px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
.client-message {
    margin-right: 10px;
    border: lightgrey solid 3px;
    padding: 5px 30px;
    margin-top: 20px;
    align-self: end;
    font-size: 18px;
}

.server-message {
    margin-left: 10px;
    border: lightgrey solid 3px;
    padding: 5px 30px;
    margin-top: 20px;
    align-self: baseline;
    font-size: 18px;
}

.start-btn {
    position: absolute;
    top: 20%;
    font-size: 20px;
    width: 160px;
    align-self: center;
    padding: 13px;
    background-color: lightblue;
    border: none;
    opacity: 0.9;
    cursor: pointer;
}